<table>
    <tr *ngFor="let row of bricks ; let i = index">
        <td *ngFor="let column of bricks ; let j = index">
            <!-- If is flagged, then background change -->
            <div class="esUnDiv" *ngIf="!boardRevealed"
            (click)="revealBrick(i,j)"
            (contextmenu)="setupFlag(i,j)"
            [ngClass]="{'isFlagged': flagged(i,j)}">?</div>
            <!-- TO-DO: remplace for 1 ngClass -->
            <div *ngIf="boardRevealed && bricks[i][j].mine">X</div>
            <div *ngIf="boardRevealed && !bricks[i][j].mine">0</div>
        </td>
    </tr>
</table>

<button (click)="setupBoard()">Restart</button>